@mixin clearfix{
  &:after {
    content: ".";
    display: block; 
    clear: both;
    height: 0;
    visibility: hidden;
  } 
}
.slider{
  width: 100vw;
  height: 60vh;
  &__header{
    position: absolute;
    top: 20px;
    z-index: 4;
    color: white;
    right: 10px;
    
    ul{
      display: flex;
      font-size: 24px;
      margin-top: 0px;
      li{
        margin-right: 40px;
        list-style-type: none;
        a{
          color: white;
        }
      }
      li:hover{
        opacity: 0.6;
      }
    }
  }
  h2{
    font-size: 100px;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 40;
    display: inline-block;
    text-align: center;
    color: whitesmoke;
  }
}
.slider img{
  transform-origin: center top;
  transform: scale(1.2);
  transition: 5s ease-out;
  width: 100%;
  height: 100%;
  position: relative;
}
.slick-active img{
  transform: scale(1.0);
}
// .slider #anime-line{
//   width: 1%;
//   height: 3px;
//   background-color: red;
//   bottom: 0px;
//   transition-duration:3s;
// }
// .slick-active #anime-line{
//   width: 100%;
//   height: 3px;
//   background-color: red; 
// }

.black{
  height: 40vh;
  width: 100%;
  background-color: black;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #D1D1D1;
  
  &__container{
    width: 100%;
    margin-right: 200px;
    &__comment1{
      padding-right: 15px;;
      padding-left: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 10%;
      text-align: initial;
      width: 12%;
      text-orientation: upright;
      &__p{
        font-size: 14px;
        text-indent: 1em;
        margin-left: 30px;
      }
    }
  }
}

.main{
  height: 100vh;
  margin: 0 auto;
  background-image: url("/photo-tree.jpg");
  position: relative;
  &__contents{
    top: 40px;
    right: 144px;
    position: absolute;
    width: 80%;
    margin:0 auto;
    height: 750px;
    background-color: #282c34;
    background: rgba(45,45,45, 0.9);
    border-radius: 14px;
    &__right{
      width: 50%;
      float: right;
      color: white;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
      h5{
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        font-size: 37px;
        font-weight: 100;
      }
      .about1{
        margin-top: 150px;
      }
      .icon-ul{
        list-style: none;
        display: flex;
        margin-top: 40px;
        justify-content:center;
        li{
        a{
          color: white;
        }
          margin: 0 20px;
          font-size: 40px;
          
        }
      }
    }
    &__about{

      text-align: center;
      color: white;
      margin: 0;
      padding-top: 2%;
      font-size: 50px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 80;
      margin-bottom: 30px;
    }
    &__left{
      width: 50%;
      float: left;
      img{
        border-radius: 10px;
      }
      &__skills{
        color: white;
        @include clearfix(); 
        padding-left: 100px;
        &--h3{
          font-family: 'Open Sans', sans-serif;
          font-size: 37px;
          color: #fff;
          margin: 20px 0 0 0;
          font-weight: 100;
        }
        &__progress{
          width:40%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{
            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              animation: anime0 5s ease  alternate;
              animation-fill-mode: forwards;
              border-radius: 7px;
              @keyframes anime0 {
                0% {width: 0px; height: 20px; background-color: aqua;}
                100% {width: 70%; height: 20px; background-color: #337ab7;}
                }
            }
          }
        }
        &__progress1{
          width:40%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{

            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              border-radius: 7px;
              animation: anime1 5s ease  alternate;
              animation-fill-mode: forwards;
              @keyframes anime1 {
                0% {width: 0%; height: 20px; background-color: aqua;}
                100% {width: 60%; height: 20px; background-color: #337ab7;}
                }
            }
          }
        }
        &__progress2{
          width:40%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{

            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              border-radius: 7px;
              animation: anime2 5s ease alternate;
              animation-fill-mode: forwards;
              @keyframes anime2 {
                0% {width: 0%; height: 20px; background-color: aqua;}
                100% {width: 60%; height: 20px; background-color: #337ab7;}
                }
            }
          }
        }
        &__progress3{
          width:40%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{
            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              border-radius: 7px;
              animation: anime3 5s ease alternate;
              animation-fill-mode: forwards;
              @keyframes anime3 {
                0% {width: 0%; height: 20px; background-color: aqua;}
                100% {width: 40%; height: 20px;background-color: #337ab7;}
                }
            }
          }
        }
        &__progress4{
          width:40%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{
            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              border-radius: 7px;
              animation: anime4 5s ease alternate;
              animation-fill-mode: forwards;
              @keyframes anime4 {
                0% {width: 0%; height: 20px; background-color: aqua;}
                100% {width: 45%; height: 20px; background-color: #337ab7;}
                }
            }
          }
        }
        &__progress5{
          width:40%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{
            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              border-radius: 7px;
              animation: anime5 5s ease alternate;
              animation-fill-mode: forwards;
              @keyframes anime5 {
                0% {width: 0%; height: 20px; background-color: aqua;}
                100% {width: 40%; height: 20px; background-color: #337ab7;}
                }
            }
          }
        }
        &__progress6{
          width:85%;
          float: left;
          &--h4{
            font-size: 20px;
            color: #fff;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            margin: 12px;
          }
          &__border{
            height: 20px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            width: 90%;
            background-color: #fff;
            &__rate{
              border-radius: 7px;
              animation: anime6 5s ease alternate;
              animation-fill-mode: forwards;
              @keyframes anime6 {
                0% {width: 0%; height: 20px; background-color: aqua;}
                100% {width: 190%; height: 20px; background-color: #337ab7;}
                }
            }
          }
        }
      }
    }
  }
}
.portfolio{
  height: 100vh;
  background-color: black;
  width: 100vw;
  h3{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 70;
    padding-top: 40px;
  }
  &__list{
    display: flex;
    margin-top:5%;
    &__items{
      margin: 0 auto;
      &__item{
        color: white;
        width: 320px;
        height: 200px;
        &__img{
          width: 100%;
          height: 100%;
          border: 1px solid white;
        }
        &__img:hover{
          box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
          transform: translateY(-10px);
          transition-duration: 0.5s;
        }
      }
    }
    &__items:nth-of-type(2){
      margin: 0;
    }
  }
}
.modal {
  position: fixed;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: black;
}
.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 1000px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.modal-introduction__inside{
  display: flex;
  img{
    border: black solid 1px;
    margin-left: 2%;
  }
}
.modal-introduction p {
  color: #5876a3;
  width: 384px;
  text-align: left;
  margin-left: 10%;
}
.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
  margin-top: 2%;
}
.modal-close-btn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: .3s ease-in-out;
}